head{
  width:100%;
background:#1e1e1e;
color:#cbff7c;
font-family:'nova cut', cursive;
}
body{
  width:100%;
  height:90%;
  background:#1e1e1e;
  font-family:'nova cut', cursive;
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  font-size-adjust:initial;
  z-index:0;
  }
  header{
    position:fixed;
    width:100%;
    z-index:1;
    order:1;
  }
#name{
  color:#1e1e1e;
  float:left;
  padding:0px 40px;
  margin-top:0.9%;
  letter-spacing:2px;
  font-size:30px;
  
  
}
.description{
  color:#1e1e1e;
  font-size:23px;
  font-family:'nova cut', cursive;
  letter-spacing:5px;
  
}
.descriptionb{
  color:#1e1e1e;
  font-size:18px;
  font-family:'nova cut', cursive;
  letter-spacing:1px;
  
}
#links{
    width:100%;
    height:50px;
    /* background:rgba(	201, 233, 255,0); */
    background:#e7f3ff;
    opacity: 0.9;
    overflow:auto;
    z-index:1;
    
    
}
#link{
  width:10%;
  color:#1e1e1e;
  font-size:23px;
  font-family:'nova cut', cursive;
  letter-spacing:5px;
  float:right; 
 padding-right: 110px;

 text-decoration:none;
 

 
}
#link :hover{
  color:#036d7d;
}

.main{
  width:90%;
  height:600px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex-basis:100%;
  align-items:space-around;
  padding:100px;
  /* border: 1px dashed white; */
}
.image{
width:400px;
}
.container {
width:400px;
  height:600px;;
  /* margin : 0px auto; */
  right:10%;
  position:absolute;
  border-width:3px;
  border-color:#afdfff;
  border-style:dashed;
  order:2;
  
  
}
.carousel-container{
width:400px;
  height:600px;
  position:relative;
  overflow:hidden;
 
}
.carousel{
padding:0;
  margin:0;
  list-style:none;
  transition: 300ms transform ease-in;
  
}
.slide{
padding:0;
  margin:0;
  position:absolute;
  width:100%;
  height:100%;
 
}
.slide img {
width:100%;
  height:600px;
  object-fit:cover;
  
}
.btn{
position:absolute;
  top:30%;
  transform:translateY(-50%);
  background:transparent;
  border:0;
  cursor:pointer;
}
.btn :hover {
  background:#afdfff;
  border-radius:50%;
}
.left-btn{
left:-100px;
  top:350px;
}
.leftbut{
width:45px;
}
.right-btn{
  right:-100px;
  top:350px;
}

.rightbut{
width:50px;
}
.nav{
width:100%;
  height:50px;
  position:absolute;
  top:550px;
  display:flex;
  justify-content:center;
}


.nav .dot{
background:rgba(255,255,255,0.3);
  width:20px;
  height:20px;
  margin:8px 10px;
  cursor:pointer;
}
.dot .active{
background:rgba(255,255,255,1);
}
.hide{
display:none;
}
.hovtext{
  font-size:10px;
  color:black;
}
.third-container{
  background:#c9e5ed;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
padding:150px;
width:100%;
height:500px;
flex-direction:row;
/* border: 1px dashed white; */

}
.second-container{
  display:flex;
  padding:50px 0px;
  margin: 100px;
  flex-wrap: wrap;
  align-items:space-around;
  width:100%;

}
.box1{
  width:30%;
  height:300px;
  background:palegoldenrod;
  border-radius:20px;
  margin:10px;
  overflow:scroll;
}
.box1 :hover{
  border-radius:30px;
  border :5px solid palegoldenrod;
}

.box2{
  width:30%;
  height:300px;
  background:palegoldenrod;
  border-radius:20px;
  margin:10px;
  overflow:scroll;
}
.box2 :hover{
  border-radius:30px;
  border :5px solid palegoldenrod;
}
.box3{
  width:30%;
  height:300px;
  background:palegoldenrod;
  border-radius:20px;
  margin:10px;
  overflow:scroll;
}
.box3 :hover{
  border-radius:30px;
  border :5px solid palegoldenrod;
}


.bio{
width:400px;
  order:1;
  

  
}
.biotext{
font-size:10px;
  color:#afdfff; 
  padding:0px;
  color:#1e1e1e;
  
}
.biotext :hover{
  font-size:12px;
  /* padding:0px; */
  /* border : 1px dashed #afdfff; */
  /* border-radius:20px; */
}
.bioone{
  width:550px;
  font-size:10px;
  /* border: 1px dashed white; */
  order:1;
  /* border : 1px dashed #afdfff; */
  
 
}
.bioone :hover{
  font-size:15px;
  padding :20px;
  border : 1px dotted #6699cc;
  /* #6699cc */
  /* #afdfff */
  border-radius:20px;
}
.absubhead{
  color:#6699cc;
  width:100%;
 
  
}
.aboutme{
  width:500px;
  font-size:12px;
  color:#6699cc;
  
  
}

#photog{
  width:375px;
  height:500px;
}
.break{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:50px;
  padding:100px;
  background:#c9e5ed;
  background:#c9e5ed;
 
}
.scroll-title{
  font-size:20px;
  display:flex;
  flex-direction:column;
}
.scroll-title .appear{
  visibility:hidden;
  background: black;
  color:white;
  border-radius:10px;
  font-size:17px;

}
.scroll-title .appear :after{
 border: 1px dotted darkslategray;
}
.scroll-title:hover .appear{
  visibility: visible;
  opacity:1;
  cursor:pointer;
}

/* @media all and (min-width:300px){

  .container{
 width:300px;
 }
 } */
 
 /* @media all and (max-height:800px){
 
  .container{
 height:700px;
 }
 } */
 .second-slideshow{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:orange;
}
.img{
  width:170px;
  height:300px;
}
/* making it line up next to each other  */
.final-container{
  margin: 0 auto;
  width:300px;
  height:400px;
  position:relative;
  border : 1px solid orange;
  border-radius: 30px;
  overflow:hidden;

 



}
.bslides{
  display:flex;
  width:200px;
  height:400px;
  
  
}
.slide-controls{
position:absolute;
top:83%;
right:0;
transform: translateY(-50%);
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
}
#next-btn, #prev-btn{
  cursor:pointer;
  background:transparent;
  font-size:20px;
  border:none;
  padding:10px; 
  color:orange;
  border : 1px solid orange;
  border-radius: 30px;
}

#next-btn:focus #prev-btn:focus{
  outline:none;
}

/* #play-btn, #pause-btn{
  cursor:pointer;
  background:transparent;
  font-size:20px;
  border:none;
  padding:10px; 
  color:orange;
  border : 1px solid orange;
  border-radius: 30px;
} */

/* #play-btn:focus #pause-btn:focus{
  outline:none;
} */